<h2>User List</h2>
<div style="display: inline-block;" class="col-4 offset-9 form-group">
    <input style="width:16.5rem;" placeholder="Search" type="text" class="form-control"
        [(ngModel)]='usersearch'>
</div>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th> User ID </th>
            <th> Username </th>
            <th> Name </th>
            <th> Email </th>
            <th> Mobile Number </th>
            <th> Gender </th>
            <th> Password </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | userSearch: usersearch">
            <td> {{ user.id }} </td>
            <td> {{ user.username }} </td>
            <td> {{ user.name }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.mobileNumber }} </td>
            <td> {{ user.gender }} </td>
            <td> {{ user.password }} </td>
            <td>
                <button (click) = "updateUser(user.id)" class="btn btn-info"> Edit </button> 
                <button (click) = "deleteUser(user.id)" class="btn btn-danger" style="margin-left: 10px"> Delete </button>
            </td>
        </tr>
    </tbody>
</table>